* {
    box-sizing: border-box;
}

body {
    /* background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4); */
    background-color: #89cdf2;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    /*in-line flex element */
    flex-direction: column;
    /* laid out in vertical columns */
    justify-content: space-around;
    /*allows for extra free space leftover around aligned items */
    font-family: sans-serif;
    margin: 0 auto;
    /*no margin or paddings for body */
}

html,
body {
    overflow-x: hidden;
    width: 400px;
}

#GlobeBackground {
    opacity: 0.3;
    border-radius: 15px;
    position: fixed;
    /* left: 9px;
        top: 400px; */
    margin: auto;
    top: 0px;
    z-index: 0;
    width: 100%;
    height: 50%
}

@media (max-width: 500px) {
    #GlobeBackground {
        opacity: 0.3;
        border-radius: 15px;
        position: absolute;
        /* left: 9px;
        top: 400px; */
        margin: auto;
        top: 0px;
        z-index: 0;
        width: 1440px;
    }
}
/*
#Rideshare {
    opacity: 0.3;
    border-radius: 15px;
    position: absolute;
    margin: auto;
    top: 920px;
    z-index: 0;
    width: 100%;
} */

@media(max-width: 500px) {
    #Rideshare {
        opacity: 0.3;
        border-radius: 15px;
        position: absolute;
        /* left: 9px;
            top: 400px; */
        /* margin: auto; */
        top: 920px;
        z-index: 0;
        width: 1440px;
    }
}

#reset-button {
    position: absolute;
    overflow: hidden;
    left: 820px;
    top: 380px;
    font-size: 14px;
    background-color: rgb(64, 166, 244);
    /* border-radius: 20px; */
    border: none;
    color: white;
    padding: 4px 12px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 2px #999;
}

#reset-button:hover {
    background: #004D65;
    /* letter-spacing: 1px; */
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

#clickMe {
    padding: 0.3em 1.6em;
    position: absolute;
    overflow: hidden;
    left: 555px;
    top: 380px;
    font-size: 14px;
    background-color: rgb(64, 166, 244);
    /* border-radius: 20px; */
    border: none;
    color: white;
    /* padding: 16px 32px; */
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 2px #999;
}

#clickMe:hover {
    background: #004D65;
    /* letter-spacing: 1px; */
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

#clickMe:active {
    background-color: rgb(64, 166, 244);
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}

#reset-button:active {
    background-color: rgb(64, 166, 244);
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}

h2,
h3 {
    font-family: Verdana, sans-serif;
}

p,
div,
table {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

#webtitle {
    position: relative;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
    bottom: 2px;
    left: 419px;
    width: 800px;
}

.form-group {
    width: 150px;
    position: absolute;
    height: 50px;
    overflow: hidden;
}

.startlatlong-view {
    width: 300px;
    position: absolute;
    overflow: hidden;
    left: 860px;
    top: 213px;
    /*
    bottom: 460px;
    */
    font-size: 13px;
}

.endlatlong-view {
    width: 300px;
    position: absolute;
    overflow: hidden;
    left: 860px;
    top: 293px;
    /*
    bottom: 380px;
    */
    font-size: 13px;
}

.airport-view {
    width: 50px;
    position: absolute;
    /* overflow: hidden; */
    right: 22%;
    font-size: 13px;
}

#display_loading {
    position: absolute;
    top: 89px;
    left: 1362px;
    transform: translate(-50%, 50%);
    display: none;
    height: 775px;
    width: 1700px;
    z-index: 1;
}

table,
td,
th {
    border: 4px solid #89cdf2;
    text-align: left;
}

table {
    position: absolute;
    width: 700px;
    left: 355px;
    top: 437px;
    /*bottom: 0px;*/
    border-collapse: collapse;
    font-size: 16px;
}

th,
td {
    padding: 7px;
}

#uber {
    height: 10%;
    display: block;
    margin: 0 auto;
}

#lyft {
    height: 19%;
    display: block;
    margin: 0 auto;
}

#planePic {
    height: 34%;
}

#firstheader {
    text-align: center;
}

#secondheader {
    text-align: center;
}

#thirdheader {
    text-align: center;
}

#uber1 {
    width: 100px;
}

#durationdistance {
    width: 250px;
}


/* First text box */

.startform {
    width: 415px;
    position: absolute;
    height: 50px;
    overflow: hidden;
    top: 220px;
    /*
    bottom: 470px;
    */
    left: 400px;
}

.startform input {
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    border: none;
}

.startform label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
    outline: none;
}

.startform label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5da8d3;
    transform: translateX(-100%);
    /* Repositions label horizontally */
}

.content-location1 {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.5s ease;
}

.startform input:focus+.label-location1 .content-location1,
.startform input:valid+.label-location1 .content-location1 {
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}

.startform input:focus+.label-name:after,
.startform input:valid+.label-name::after {
    transform: translate(0%);
}


/* Second text box */

.endform {
    width: 415px;
    position: absolute;
    height: 50px;
    overflow: hidden;
    top: 300px;
    /*
    bottom: 390px;
    */
    left: 400px;
}

.endform input {
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    border: none;
}

.endform label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
    outline: none;
}

.endform label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5da8d3;
    transform: translateX(-100%);
    /* Repositions label horizontally */
}

#directions {
    position: absolute;
    overflow: hidden;
    top: 130px;
    /*
    bottom: 540px;
    */
    left: 400px;
    width: 620px;
    z-index: 1;
}

.content-location2 {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.5s ease;
}

.endform input:focus+.label-location2 .content-location2,
.endform input:valid+.label-location2 .content-location2 {
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}

.endform input:focus+.label-name:after,
.endform input:valid+.label-name::after {
    transform: translate(0%);
}

h1 {
    font-size: 45px;
    color: #fff;
}

#canvas-box {
    position: relative;
    left: 300px;
    bottom: 2px;
    background: #f0f0f0;
    display: block;
    border-radius: 5px;
    align-items: center;
}


/* 
#canvas {
    align-content: center;
} */

.button {
    cursor: pointer;
    border: 0;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 5px;
}

.button:focus {
    outline: 0;
}

.button:hover {
    background: #222;
}

.info-button {
    position: absolute;
    top: 35px;
    /*
    bottom: 670px;
    */
    left: 75px;
}

.info {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    background: #333;
    color: #fff;
    min-height: 100vh;
    width: 290px;
    padding: 10px;
    line-height: 1.5;
    transform: translateX(-300px);
    transition: transform 1s ease-in-out;
    /* Transitions after button click */
}

.info.appear {
    transform: translateX(0);
}

#airportbox {
    padding-top: 15px;
}

.about {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    padding: 10px;
    line-height: 1.5;
}

.about-button {
    position: absolute;
    /* top: 5%;
    left: 92%; */
    top: 35px;
    left: 1240px;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #3498db;
    color: #f1f1f1;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
}

#ClickToBook {
    font-size: 14px;
    font-style: italic;
}

#myBtn:hover {
    background-color: #555;
}

html {
    scroll-behavior: smooth;
}

#about {
    margin-top: 25%;
    padding-bottom: 25%;
}

h2.title {
    position: relative;
    font-size: 30px;
    left: 690px;
    bottom: 3px;
    /*text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);*/
}

.description {
    margin-left: 200px;
    margin-right: 200px;
    font-style: italic;
    width: 1040px;
    line-height: 25px;
    font-family: 'Arial', sans-serif;
    font-weight: 520;
}

@media (max-width: 500px) {
    .description {
        margin-left: 80px;
        /* margin-right: 120px; */
        font-style: italic;
        width: 1200px;
        line-height: 13px;
        font-size: 12px;
        font-family: 'Arial', sans-serif;
        font-weight: 520;
    }
}

.subtitle {
    position: relative;
    left: 680px;
}

.name1 {
    position: absolute;
    float: right;
    left: 959px;
    width: 500px;
}

.name2 {
    position: relative;
    float: left;
    left: 390px;
    width: 500px;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.image1 {
    position: absolute;
    float: left;
    left: 340px;
    margin-top: 55px;
    width: 210px;
    height: 215px;
}

.image2,
.image1 {
    border: black 2px solid;
}

.image2 {
    position: absolute;
    float: right;
    left: 900px;
    margin-top: 55px;
    width: 210px;
    height: 215px;
}

.media1 {
    position: absolute;
    float: right;
    left: 900px;
    margin-top: 280px;
    width: 210px;
    height: 215px;
    text-align: center;
}

.media2 {
    position: absolute;
    float: right;
    left: 350px;
    margin-top: 280px;
    width: 210px;
    height: 215px;
    text-align: center;
}

.btn2 {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}

.btn2 i {
    line-height: 70px;
    font-size: 26px;
    transition: 0.2s linear;
}

.btn2:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}

.btn2::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.btn2:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        top: -10%;
        left: -10%;
    }
}

#disclaimer {
    /* text-align: center; */
    position: relative;
    top: 365px;
    left: 550px;
    font-style: italic;
    font-size: 13px;
    width: 900px;
}

@media (max-width: 500px) {
    #disclaimer {
        position: relative;
        top: 390px;
        left: 550px;
        font-style: italic;
        font-size: 13px;
        width: 900px;
    }
}

#TooLongRoute {
    position: absolute;
    top: 783px;
    left: 450px;
    width: 700px;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #7ac9f4;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
}

.sk-chase {
    width: 200px;
    height: 200px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    margin: -100px 0 0 -100px;
    animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
    animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
    animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3) {
    animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
    animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
    animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
    animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
    animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
    animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3):before {
    animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
    animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
    animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
    animation-delay: -0.6s;
}

@keyframes sk-chase {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot {
    80%,
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot-before {
    50% {
        transform: scale(0.4);
    }
    100%,
    0% {
        transform: scale(1.0);
    }
}